/*----------  button
------------------------------------------------------------------------------*/
.btn,
button,
input[type="button"],
input[type="submit"] {
	background: $tertiary;
	width: auto;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	color: $white;
	border-radius: 1px;
	border: none;
	outline: none;
	transition: all 0.3s ease;
	&:hover {
		background-color: mix($tertiary, $primary, 50%);
		box-shadow: none;
	}
	&.btn-prev {
		background: lighten($secondary, 40%);
		padding-left: 40px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 12px;
			left: 15px;
			width: 10px;
			height: 15px;
			background: url('../img/svg/arrow-left.svg') no-repeat;
			background-size: contain;
			display: block;
		}
		&:hover {
			background-color: $secondary;
		}
	}
	&.btn-next {
		padding-right: 40px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 12px;
			right: 15px;
			width: 10px;
			height: 15px;
			background: url('../img/svg/arrow-right.svg') no-repeat;
			background-size: contain;
			display: block;
		}
	}
}
