/*----------  modules
------------------------------------------------------------------------------*/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($primary, 0.8);
	z-index: 1000;
	display: none;
}

.modal {
	position: fixed;
	top: 25%;
	left: 50%;
	width: 480px;
	transform: scale(0.75);
	margin-left: -240px;
	background: $white;
	border-radius: 5px;
	box-shadow: 0 0 30px rgba($black, 0.25);
	transition: all 0.2s;
	float: left;
	z-index: 1500;
	display: none;
	&.opened {
		transform: scale(1);
	}
	.inner {
		padding: 40px;
		@extend %clearfix;
	}
}

.steps-progress {
	width: 100%;
	margin-bottom: 30px;
	@extend %clearfix;
	ul {
		margin-left: 0;
	}
	.step {
		width: 100%;
		height: 50px;
		position: relative;
		list-style-type: none;
		margin-bottom: 1px;
		padding: 10px;
		transition: all 0.3s ease;
		float: left;
		clear: both;
		span {
			width: 30px;
			height: 30px;
			font-size: 18px;
			font-weight: 700;
			color: $white;
			line-height: 28px;
			text-align: center;
			border: 2px solid $white;
			border-radius: 50%;
			position: relative;
			pointer-events: none;
			z-index: 10;
			display: block;
			float: left;
			&.completed {
				& + a {
					background: $primary;
					color: $white;
				}
			}
			&.current {
				color: $tertiary;
				border-color: $tertiary;
				& + a {
					background: $white;
					color: $tertiary;
					border-color: $tertiary;
				}
			}
		}
		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: #c6c6c6;
			padding-left: 52px;
			font-size: 18px;
			font-weight: 700;
			color: $white;
			border: 2px solid transparent;
			line-height: 46px;
			border-radius: 5px;
			display: block;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}