/*----------  modules
------------------------------------------------------------------------------*/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($primary, 0.8);
	z-index: 1000;
	display: none;
}

.modal {
	position: fixed;
	top: 25%;
	left: 50%;
	width: 480px;
	transform: scale(0.75);
	margin-left: -240px;
	background: $white;
	border-radius: 5px;
	box-shadow: 0 0 30px rgba($black, 0.25);
	transition: all 0.2s;
	float: left;
	z-index: 1500;
	display: none;
	&.opened {
		transform: scale(1);
	}
	.inner {
		padding: 40px;
		@extend %clearfix;
	}
	h2 {
		margin-bottom: 30px;
	}
	@include media-breakpoint-down(sm) {
		position: absolute;
		top: 100px;
		width: 92%;
		left: 4%;
		margin-left: 0;
		.inner {
			padding: 20px 20px 10px 20px;
		}
		h2 {
			margin-bottom: 20px;
		}
	}
}

.current-step {
	margin-bottom: 30px;
	display: inline-block;
	cursor: pointer;
	.progress {
		font-size: 24px;
		margin-right: 12px;
		padding-top: 3px;
		float: left;
	}
	.step-number {
		font-size: 28px;
		color: $tertiary;
		margin-right: 12px;
		float: left;
	}
	.step-name {
		font-size: 30px;
		padding-right: 40px;
		padding-bottom: 0;
		margin-bottom: 0;
		display: inline-block;
		&::after {
			display: none;
		}
		&::before {
			content: '';
			position: absolute;
			top: 30%;
			right: 0;
			width: 24px;
			height: 14px;
			background: url('../img/svg/arrow-down.svg') no-repeat;
			transform: rotate(0deg);
			transition: all 0.3s ease-in;
			display: block;
		}
	}
	&.opened {
		.step-name {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
		margin-bottom: 20px;
		float: left;
		clear: both;
		.progress {
			font-size: 20px;
			margin-right: 10px;
		}
		.step-number {
			font-size: 24px;
			margin-right: 10px;
		}
		.step-name {
			width: 100%;
			font-size: 22px;
			padding-right: 20px;
			padding-top: 8px;
			line-height: 24px;
			float: left;
			clear: both;
			&::before {
				top: 14px;
				width: 18px;
				height: 12px;
			}
		}
	}
}

.form-heading {
	display: none;
}

.steps-progress {
	width: 100%;
	margin-bottom: 30px;
	display: none;
	clear: both;
	@extend %clearfix;
	ul {
		margin-left: 0;
	}
	.step {
		width: 100%;
		min-height: 46px;
		position: relative;
		list-style-type: none;
		margin-bottom: 1px;
		padding: 5px 10px;
		background: #c6c6c6;
		border: 2px solid transparent;
		border-radius: 5px;
		transition: all 0.3s ease;
		float: left;
		clear: both;
		.overlay-link {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			z-index: 10;
		}
		.step-circle {
			width: 30px;
			height: 30px;
			font-size: 18px;
			font-weight: 700;
			color: $white;
			line-height: 28px;
			text-align: center;
			border: 2px solid $white;
			border-radius: 50%;
			position: relative;
			pointer-events: none;
			z-index: 10;
			display: block;
			float: left;
		}
		.step-name {
			font-size: 20px;
			font-weight: 700;
			color: $white;
			padding-left: 40px;
			display: block;
		}
		.short-description {
			font-size: 14px;
			font-weight: 400;
			color: $white;
			padding-left: 40px;
			line-height: 1.2;
			display: block;
		}
		&.completed {
			background: $green;
		}
		&.current {
			background: $white;
			border-color: $tertiary;
			.step-circle {
				color: $tertiary;
				border-color: $tertiary;
			}
			.step-name,
			.short-description {
				color: $tertiary;
			}
		}
		&:hover {
			opacity: 0.8;
		}
	}
	@include media-breakpoint-down(sm) {
		.step {
			.step-name {
				font-size: 18px;
				font-weight: 400;
				line-height: 20px;
			}
			.short-description {
				font-size: 13px;
			}
		}
	}
}