/*----------  helpers
------------------------------------------------------------------------------*/
%clearfix {
	*zoom:1;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

.hide { display: none; }
.show { display: block; }
.clear { clear: both; }
.no-margin { margin: 0; }
.fleft { float: left; }
.fright { float: right; }
.align-left { text-align: left; }
.centered { text-align: center; }
.align-right { text-align: right; }

.padd-top {
	padding-top: 20px;
	@include media-breakpoint-down(sm) {
		padding-top: 0;
	}
}