/*----------  main styles
------------------------------------------------------------------------------*/
// TODO: Delete this on beggining of project -->
[class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f1592a;
    border: 1px solid $white;
    color: $white;
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}


@keyframes bang {
    to {
        box-shadow: $box-shadow;
    }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes blink {
    to { 
        color: #f1592a; 
        border-color: $black;
    }
}

.annoucement {
    color: $black;
    border: 3px dotted #f1592a;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
    animation: blink 1s steps(2, start) infinite;
    
    a {
        text-decoration: underline;
        color: #f1592a;
    }
}

.pyro {
    > .after, > .before {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        box-shadow: $box-shadow2;
        animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    }
    
    > .after {
        animation-delay: 1.25s, 1.25s, 1.25s;
        animation-duration: 1.25s, 1.25s, 6.25s;
    }
    
}
// TODO: Delete this on beggining of project <--

.two-cols {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	> div {
		width: 50%;
		text-align: center;
	}
	
	@include media-breakpoint-down(md) {
		> div {
			width: 100%;
		}
	}
}
