/*----------  main styles
------------------------------------------------------------------------------*/
.demo-templates {
	ol {
		margin-left: 30px;
		li {
			list-style-type: decimal-leading-zero;
			font-size: 18px;
			margin-bottom: 8px;
		}
	}
	a {
		color: $primary;
		position: relative;
		&::after {
			content: '';
			width: 0;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: $primary;
			transition: all 0.2s ease;
			display: block;
		}
		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}